.endpointResponses {
	:global {
		.react-json-view, .noResponse {
			font-family: monospace !important;
			margin-top: 10px;
			position: relative !important;
			background-color: rgb(35, 35, 35) !important;
			padding: 15px;
			overflow: hidden;
		}
	}
}
