.block {
	background: #272727;
    border-radius: 4px;
    padding: 25px 25px 15px;
	margin: 20px 15px;

	p {
		line-height: 1.5;
	}

	&__title {
		margin: 0;
		margin-top: 25px;
		font-weight: bold;
		text-transform: uppercase;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

.quickTable {
	width: 100%;
	color: #FFF;
	margin: 20px 0px;
	background: transparent;
	transition: all 200ms ease-in-out;

	tr:hover td {
		background: rgba(#FFF, .01);
	}

	.monospace {
		font-family: monospace !important;
		font-size: 1.1em;
	}

	.admin td {
		color: #ffaaaa;
	}

	td {
		padding: 10px 5px;
		border-top: 1px solid rgba(#FFF, .1);
		border-bottom: 1px solid rgba(#FFF, .1);
	}
}

.docsList {
	margin-left: 25px;
	list-style: initial;
	color: rgba(#FFF, .5);

	li {
		margin: 5px;
	}
}
